.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 0.5em;
}

h3 {
  margin-bottom: 1.5em;
}

p {
  margin-bottom: 2em;
}

img {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

td {
  padding-left: 1em;
  padding-right: 0.5em;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 80%;
}

/* Media query for mobile devices (smaller than 768px) */
@media (max-width: 768px) {
  table {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }

  td,
  th {
    display: block;
    width: 100% !important;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
  }

  td:last-child {
    border-bottom: none;
  }

  .table-wrapper,
  div:has(> table) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* Make github embed responsive */
  div > a > img[alt="GitHub Streak"] {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
